 /* * {
 
  font-size: 20px;
  margin:0px;
  padding:20px;
 
  
} */


main,
header,
section,
aside,
main {
  background: black;
  color: white;
}



ul{
  list-style-type: disc;
}


/*width > 640px*/
.flex-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 640px) {
  .flex-container {
   
    display: flex;
    flex-direction: row;
    
  }
  .aside-items {
    flex: 0 1 600px;
    background-color: #000000;
  }
  .section-items {
    flex: 1;
    background-color: #000000;
  }
}
